.git
.gitignore

node_modules
**/node_modules

dist
**/dist

coverage
**/coverage

*.log
.env
.env.*
!.env.example

.vscode
.idea

Dockerfile
compose.yml

README.md
**/README.md

CLAUDE.md
**/CLAUDE.md

AGENTS.md
**/AGENTS.md

**/tests
**/tests/*
